.product{
  &-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
  }
  &__card{
    margin: 0;
  }
}

.planes__slider{
  justify-content: center;
}
