@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Lato:wght@300;400;700&display=swap'); //Colores
$gradientbg: linear-gradient(207.8deg, #061700 6.2%, #52C234 100%);
$dolargreen: #46D004;
$softgreen: #EFFFD4;
$blue: #1A9AF7;
$softblue: #E7F5FF;
$white: #FAFAFA;
$offwhite: #FAF8F7;
$grey: #BABABA;
$warmblack: #232323;
$black: #181818;

body {
  margin: 0;
}

html {
  font-size: 64.5%;
  font-family: 'Lato', sans-serif;
}

.container{
  width: 90%;
  max-width: 900px;
  min-width: 288px;
}

.header {
  &__img {
    height: 46px;
  }

  &-container {
    height: 220px;
  }
}
.logo{
  margin-top: 50px;
  &__text{
    font-size: 2.4rem;
    font-weight: 700;
    color: $softblue;
  }
}
p{
  font-family: 'Hind', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

header {
  position: relative;
  // padding: 2%;
  // margin-bottom: 20px;
  min-width: 320px;
  // height: 334px;
  text-align: center;
  background: $gradientbg;
  & h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: $white;
  }
  p{
    margin-top: 2.5rem;
    color: $softblue;
  }
}

.button{
  padding: 15px;
  display: block;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  text-transform: capitalize;
  color: inherit;
  font-weight: 500;
  &-header{
    position: absolute;
    top: 93%;
    background: $offwhite;
    left:  calc(50% - (219px/2));
  }
  span{
    margin-left: 10px;
  }
}


.prices{
  padding-top: 30px;
  width: 100%;
  background: $offwhite;
  text-align: center;
  &__bg{
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  &__title{
    width: 90%;
  }
  & p{
    color: #757575;
    line-height: 1.6rem;
  }
}
