@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;700&family=Lato:wght@300;400;700&display=swap'); //Colores
$gradientbg: linear-gradient(207.8deg, #4286f4 6.2%, #373B44 100%);
$dolargreen: #46D004;
$softgreen: #EFFFD4;
$blue: #1A9AF7;
$red: #f7421a;
$softblue: #E7F5FF;
$white: #fff;
$offwhite: #FAF8F7;
$grey: #757575;
$warmblack: #232323;
$black: #181818;

body {
  margin: 0;
}

html {
  font-size: 64.5%;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  max-width: 900px;
  min-width: 288px;
}

.header {
  &__img {
    height: 46px;
  }

  &-container {
    height: 220px;
  }
}

.logo {
  margin-top: 50px;

  &__text {
    font-size: 2.4rem;
    font-weight: 700;
    color: $softblue;
  }
}

p {
  font-family: 'Hind', sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
}

header {
  position: relative;
  // padding: 2%;
  // margin-bottom: 20px;
  min-width: 320px;
  // height: 334px;
  text-align: center;
  background: $gradientbg;

  & h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: $white;
  }

  p {
    margin-top: 2.5rem;
    color: $softblue;
  }
}

.button {
  padding: 15px;
  display: block;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  font-size: 1.4rem;
  font-family: 'Hind', sans-serif;
  text-transform: capitalize;
  color: inherit;
  font-weight: 500;

  &-header {
    position: absolute;
    top: 93%;
    background: $offwhite;
    left: calc(50% - (219px/2));
  }

  &__planes {
    background: $offwhite;
    border: 2px solid $dolargreen;
    font-weight: bold;
    width: 70%;
    text-transform: none;
    font-size: 1.6rem;

    & span {
      color: $dolargreen;
    }
  }

  span {
    margin-left: 10px;
  }
}

.prices {
  padding-top: 30px;
  // width: 100%;
  text-align: center;

  &__bg {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    width: 90%;
  }

  & .p {
    color: #757575;
    line-height: 1.6rem;
  }
}

.text {
  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 15px;

    &-dolar {
      color: $dolargreen;
      text-align: left;
      padding-left: 14%;
    }

    &-monedas{
      color: $blue;
      text-align: left;
      padding-left: 14%;
    }

    &-card {
      font-family: 'Lato', sans-serif;
    }
  }

  &__h2 {
    font-size: 2.4rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.6rem;
    color: $grey;
    font-weight: 500;
    text-align: center;
  }

  &__description {
    color: $grey;
    font-weight: 500;
  }

  &__price {
    margin: 0;
    font-size: 4.2rem;
    line-height: 6.4rem;
    font-weight: 700;
  }
}

main,
section {
  background: $offwhite;
}

.table {
  &__dolar {
    width: 70%;
    scroll-snap-align: center;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Hind', sans-serif;
  }

  &__container {
    width: 90%;
    min-width: 230px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }

  &__left {
    &-top {
      border-top-left-radius: 16px;
    }

    &-bottom {
      border-bottom-left-radius: 16px;
    }
  }

  &__right {
    font-size: 1.4rem;
    // font-weight: normal;
    line-height: 1.7rem;
    color: #757575;

    &-top {
      border-top-right-radius: 16px;
    }

    &-bottom {
      border-bottom-right-radius: 16px;
    }
  }

  &__date {
    // background: $softgreen;
    // border-radius: 16px;
    // padding: .2% 0;
  }
}

table {
  min-width: 230px;
  max-width: 300px;
  min-height: 350px;

  & td {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: $grey;
    background: $white;
  }
}

.product {
  background: $black;
  position: relative;
  min-width: 320px;
  margin-top: 30px;
  // gap: 16px;
  padding: 20px 10px;
  color: $white;

  &__img {
    width: 80px;
    position: absolute;
    top: 0;
    transform: translateY(-45%);
  }

  &__title {
    padding-bottom: 40px;
  }

  &__card {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    background: $warmblack;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin: 8px 0;
    // margin: auto;
  }
}

.hero {
  width: 100%;
  min-height: 320px;
  background-size: cover;
  color: $black;
  padding-top: 30px;
  background-position: center;
  background-image: url("../img/investing.jpeg");
  background-repeat: no-repeat;

  & h2 {
    margin-top: 0;
  }
}

.planes {
  padding: 60px 3%;

  &__title {
    margin-bottom: 40px;
  }

  &__card {
    background: $white;
    scroll-snap-align: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 230px;
    max-width: 300px;
    min-height: 350px;
    margin: 30px auto;
    text-align: center;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
    width: 90%;
    position: relative;

    & sup {
      font-size: 1.6rem;
      top: -2rem;
      padding: 2px;
    }

    & .p {
      width: 80%;
      margin-bottom: 20px;
    }
  }

  & .category {
    position: absolute;
    padding: 14px;
    color: $white;
    left: calc(50% - (120px/2));
    font-weight: bold;
    border-radius: 8px;
    top: 0;
    min-width: 120px;
    transform: translateY(-65%);

    &__recomendado {
      background: $dolargreen;
    }

    &__exclusivo {
      background-color: $blue;
    }

    &__basico {
      background-color: $red;
    }
  }

  &__slider {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    overscroll-behavior: contain;
    scroll-snap-type: x proximity;

    &::-webkit-scrollbar {
      background-color: $softgreen;
      height: 4px;
      border-radius: 16px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dolargreen;
      border-radius: 16px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  // height: 150px;
  padding-left: 10px;
  background-color: $dolargreen;

  & .left,  {
    width: 50%;
    background: none;
    & ul{
      list-style: none;
      font-weight: 500;
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
    & li{
      margin: 10px 0;
      color: $white;
    }
  }
  & .right{
    background: none;
  }

  &__img {
    width: 100px;
  }
}
